In [116]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import re
import pandas as pd
import datetime

In [167]:
def temp_extraction(text):
    
    re_temp = re.compile('([0-9]{1,2}\.[0-9])(-?[0-9]{1,2}\.[0-9])')
    if re.search(re_temp,text):
        return np.float(re.search(re_temp,text)[2])
    else:
        return np.nan
    
def rain_extraction(text):
    
    re_rain = re.compile('([0-9]{1,2}\.[0-9])(mm)')
    if re.search(re_rain,text):
        return np.float(re.search(re_rain,text)[1])
    else:
        return np.nan
    
def day_extrator(text):
    
    if re.search(re.compile('(di|che)\s([0-9]{1,2})$'), text):
        return int(re.search(re.compile('(di|che)\s([0-9]{1,2})$'), text)[2])
    
def data_to_url(year, month, day, t_min, t_max, rain):
    
    df = pd.DataFrame({
        'year':year,
        'month':month,
        'day':day,
        't_min':t_min,
        't_max':t_max,
        'rain':rain
    }, index=[datetime.date(year, month, day)]
    )
    return df

def make_the_soup(url):
    
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    return soup

def month_name(month):
    
    month_dict = {
            'janvier':1, 'fevrier':2, 'mars':3, 'avril':4, 'mai':5, 'juin':6, 'juillet':7, 'aout':8, 'septembre':9, 
            'octobre':10, 'novembre':11, 'decembre':12
        }
    month_list = [
        'janvier', 'fevrier', 'mars', 'avril', 'mai', 'juin', 'juillet', 'aout', 'septembre', 
    'octobre', 'novembre', 'decembre'
    ]
    
    if type(month)==str:
        return(month_dict[month])
    
    if type(month)==int:
        return(month_list[month-1])
        

def monthly_data(year, month, main_url):
    
    df_data = pd.DataFrame(columns=['year', 'month', 'day', 't_min', 't_max', 'rain'])
    
    url = main_url.format(month_name(month), year)
    soup = make_the_soup(url)
    
    for tr in soup.find_all('tr'):
        for ch in tr.children:
            try:
                if day_extrator(ch.get_text()):
                    day = day_extrator(ch.get_text())
                    t_min = temp_extraction(ch.next_sibling.get_text())
                    t_max = temp_extraction(ch.next_sibling.next_sibling.get_text())
                    rain = rain_extraction(ch.next_sibling.next_sibling.next_sibling.get_text())
                    df_data = df_data.append(data_to_url(year, month, day, t_min, t_max, rain))
            except:
                pass
    return df_data

In [168]:
test = 'https://www.infoclimat.fr/climatologie-mensuelle/07156/{0}/{1}/paris-montsouris.html'
monthly_data(2012,8,test)

            year month day  t_min  t_max  rain
2012-08-01  2012     8   1   15.5   30.6   0.0
2012-08-02  2012     8   2   16.8   25.6   0.0
2012-08-03  2012     8   3   14.4   25.4   0.0
2012-08-04  2012     8   4   14.9   26.5   1.0
2012-08-05  2012     8   5   15.6   22.5   2.2
2012-08-06  2012     8   6   13.9   23.6   0.0
2012-08-07  2012     8   7   13.7   22.4   0.0
2012-08-08  2012     8   8   13.4   27.4   0.0
2012-08-09  2012     8   9   16.5   27.1   0.0
2012-08-10  2012     8  10   15.7   27.2   0.0
2012-08-11  2012     8  11   15.1   28.8   0.0
2012-08-12  2012     8  12   16.0   27.1   0.0
2012-08-13  2012     8  13   17.1   25.3   0.0
2012-08-14  2012     8  14   16.6   26.7   0.0
2012-08-15  2012     8  15   19.1   30.3   0.0
2012-08-16  2012     8  16   14.1   27.5   0.0
2012-08-17  2012     8  17   17.1   33.1   0.0
2012-08-18  2012     8  18   19.5   38.4   0.0
2012-08-19  2012     8  19   20.5   38.1   0.0
2012-08-20  2012     8  20   20.0   29.7   0.0
2012-08-21  2012     8  21   20.1   30.3   0.0
2012-08-22  2012     8  22   15.8   24.8   0.0
2012-08-23  2012     8  23   14.8   26.0   0.0
2012-08-24  2012     8  24   17.0   24.0   0.6
2012-08-25  2012     8  25   15.9   25.0   0.0
2012-08-26  2012     8  26   15.4   23.9   0.0
2012-08-27  2012     8  27   15.8   28.4   0.0
2012-08-28  2012     8  28   18.8   27.8   0.0
2012-08-29  2012     8  29   17.3   27.3   0.0
2012-08-30  2012     8  30   15.1   23.5   2.2
2012-08-31  2012     8  31   11.7   19.5   0.0

In [127]:
url = 'https://www.infoclimat.fr/climatologie-mensuelle/07156/{0}/{1}/paris-montsouris.html'.format('septembre','1956')
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [143]:
df_data = pd.DataFrame(columns=['year', 'month', 'day', 't_min', 't_max', 'rain'])

year = 1956
month = 9

for i in soup.find_all('tr'):
    print('*************')
    #test1 = soup.find_all('tr')[i]
    for ch in i.children:
        try:
            if day_extrator(ch.get_text()):
                print(ch.get_text())
                day = day_extrator(ch.get_text())
                t_min = temp_extraction(ch.next_sibling.get_text())
                t_max = temp_extraction(ch.next_sibling.next_sibling.get_text())
                rain = rain_extraction(ch.next_sibling.next_sibling.next_sibling.get_text())
                df_data = df_data.append(data_to_url(year, month, day, t_min, t_max, rain))
        except:
            pass

*************
*************
date_range Samedi 1
*************
date_range Dimanche 2
*************
date_range Lundi 3
*************
date_range Mardi 4
*************
date_range Mercredi 5
*************
date_range Jeudi 6
*************
date_range Vendredi 7
*************
date_range Samedi 8
*************
date_range Dimanche 9
*************
date_range Lundi 10
*************
date_range Mardi 11
*************
date_range Mercredi 12
*************
date_range Jeudi 13
*************
date_range Vendredi 14
*************
date_range Samedi 15
*************
date_range Dimanche 16
*************
date_range Lundi 17
*************
date_range Mardi 18
*************
date_range Mercredi 19
*************
date_range Jeudi 20
*************
date_range Vendredi 21
*************
date_range Samedi 22
*************
date_range Dimanche 23
*************
date_range Lundi 24
*************
date_range Mardi 25
*************
date_range Mercredi 26
*************
date_range Jeudi 27
*************
date_range Vendredi 28
*************
date_range Samedi 29
*************
date_range Dimanche 30
*************
*************
*************
*************
*************
*************
*************
*************
*************
*************
*************
*************

In [144]:
df_data

            year month day  t_min  t_max  rain
1956-09-01  1956     9   1   11.6   16.0  11.1
1956-09-02  1956     9   2   11.1   18.4   0.0
1956-09-03  1956     9   3    8.6   17.6   0.3
1956-09-04  1956     9   4   12.0   17.9   0.8
1956-09-05  1956     9   5   13.2   23.9   0.0
1956-09-06  1956     9   6   12.2   19.9   4.3
1956-09-07  1956     9   7   12.4   19.7   0.0
1956-09-08  1956     9   8   10.8   23.7   8.1
1956-09-09  1956     9   9   15.0   24.0   0.3
1956-09-10  1956     9  10   15.7   22.7   0.0
1956-09-11  1956     9  11   13.0   21.3   0.5
1956-09-12  1956     9  12   13.0   19.9   1.0
1956-09-13  1956     9  13   11.9   18.4   0.3
1956-09-14  1956     9  14   15.0   19.7   0.0
1956-09-15  1956     9  15   12.0   23.5   0.0
1956-09-16  1956     9  16   15.8   23.8   0.0
1956-09-17  1956     9  17   12.4   21.6   0.0
1956-09-18  1956     9  18    9.6   20.3   0.0
1956-09-19  1956     9  19   10.9   25.2   0.0
1956-09-20  1956     9  20   11.8   26.1   0.0
1956-09-21  1956     9  21   14.5   25.7   0.0
1956-09-22  1956     9  22   15.1   26.3   0.0
1956-09-23  1956     9  23   14.1   26.8   0.0
1956-09-24  1956     9  24   15.4   25.9   1.2
1956-09-25  1956     9  25   16.2   21.9   0.0
1956-09-26  1956     9  26   15.6   18.5   2.1
1956-09-27  1956     9  27   12.6   19.3   0.1
1956-09-28  1956     9  28   15.8   21.9   2.5
1956-09-29  1956     9  29   14.2   20.8   2.5
1956-09-30  1956     9  30   16.2   24.7   0.5

In [92]:
for i in range(len(soup.find_all('tr'))):
    print('*************')
    test1 = soup.find_all('tr')[i]
    for ch in test1.children:
        try:
            if day_extrator(ch.get_text()):
                print(ch.get_text())
                print(day_extrator(ch.get_text()))
                print(temp_extraction(ch.next_sibling.get_text()))
                print(temp_extraction(ch.next_sibling.next_sibling.get_text()))
                print(rain_extraction(ch.next_sibling.next_sibling.next_sibling.get_text()))
        except:
            pass

*************
*************
date_range Samedi 1
1
11.6
16.0
11.1
*************
date_range Dimanche 2
2
11.1
18.4
0.0
*************
date_range Lundi 3
3
8.6
17.6
0.3
*************
date_range Mardi 4
4
12.0
17.9
0.8
*************
date_range Mercredi 5
5
13.2
23.9
0.0
*************
date_range Jeudi 6
6
12.2
19.9
4.3
*************
date_range Vendredi 7
7
12.4
19.7
0.0
*************
date_range Samedi 8
8
10.8
23.7
8.1
*************
date_range Dimanche 9
9
15.0
24.0
0.3
*************
date_range Lundi 10
10
15.7
22.7
0.0
*************
date_range Mardi 11
11
13.0
21.3
0.5
*************
date_range Mercredi 12
12
13.0
19.9
1.0
*************
date_range Jeudi 13
13
11.9
18.4
0.3
*************
date_range Vendredi 14
14
15.0
19.7
0.0
*************
date_range Samedi 15
15
12.0
23.5
0.0
*************
date_range Dimanche 16
16
15.8
23.8
0.0
*************
date_range Lundi 17
17
12.4
21.6
0.0
*************
date_range Mardi 18
18
9.6
20.3
0.0
*************
date_range Mercredi 19
19
10.9
25.2
0.0
*************
date_range Jeudi 20
20
11.8
26.1
0.0
*************
date_range Vendredi 21
21
14.5
25.7
0.0
*************
date_range Samedi 22
22
15.1
26.3
0.0
*************
date_range Dimanche 23
23
14.1
26.8
0.0
*************
date_range Lundi 24
24
15.4
25.9
1.2
*************
date_range Mardi 25
25
16.2
21.9
0.0
*************
date_range Mercredi 26
26
15.6
18.5
2.1
*************
date_range Jeudi 27
27
12.6
19.3
0.1
*************
date_range Vendredi 28
28
15.8
21.9
2.5
*************
date_range Samedi 29
29
14.2
20.8
2.5
*************
date_range Dimanche 30
30
16.2
24.7
0.5
*************
*************
*************
*************
*************
*************
*************
*************
*************
*************
*************
*************

In [58]:
if day_extrator('date_range Vendreaf 1a5'):
    print('lol')

lol

In [42]:
rain_extraction('18.4mm')

18.4